body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #1C90BF, #458FA5, #6F8E8B, #988C71, #C28B57, #EB8A3D);
}


.container {
    border: solid black;
    border-radius: 20px;
    width: 600px;
    height: 700px;
    margin: auto;
    box-sizing: border-box;
    background-color: black;
}

.display {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    border: solid black;
    border-radius: 20px;
    width: 580px;
    height: 180px;
    margin: auto;
    margin-top: 7px;
    box-sizing: border-box;
    background-color: rgb(191, 184, 184);
}

.display .previous-display {
    color:rgb(105, 105, 105);
    font-size: 2.5rem;
}

.display .current-display {
    
    font-size: 3.5rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 30px;
}

.btn {
    border-radius: 10px;
    width: 20%;
    padding: 15px;
    margin: 5px;
    font-size: 30px;
    background-color: grey;
    color: white;
}

.number,
.decimal {
    background-color: rgb(55, 55, 55);
}

.operation,
.equals{
    background-color:rgb(203, 147, 43);
}

#zero{
    flex: 1;
}
